# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/api/node_modules
/.pnp
.pnp.js

# vercel & build output
/.vercel
/.vercel/output

# testing
/coverage

# production
/build

# environment variables
.env
.env.*
!.env.example
api/.env
api/.env.*
!api/.env.example

# misc
.DS_Store
.eslintcache
.idea/
.vscode/
*.swp

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
